*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('./1.jpeg');
    text-align: center;
}

h1{
    font-size: 3em;
    color: purple;
}

p{
    font-size: 1.5em;
    color: purple;
}

.mainContainer{
    display: flex;
    justify-content: center;
}


.pagesContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.pagesContainer iframe{
    min-width: 50vw;
    height: 90vh;
}